@use "../../helpers/extend" as *;
@use "../../helpers/mixin" as *;
@use "../../helpers/color" as *;

.cart {
    @extend %section;
    // padding-top: 5vh; 
    min-height: 50vh;

    table {
        width: 100%;

        margin: 0 auto;
        max-width: 100%;
        // table-layout: fixed;


        thead {
            background-color: $hover;
            color: #fff;
            height: 7vh;

            td {
                font-size: 18px;
                font-weight: 600;
                // padding-bottom: 20px;
            }
        }

        tbody {
            background-color: #d2d2d2;

        }

        thead,
        tbody {
            text-align: center;

            td {
                padding: 1.5vh 1.2vh;
                font-size: 18px;
                font-weight: 600;

            }
        }

        .btn-popup {
            background-color: $hover;
            border-width: 0;

            &.delete {
                background-color: #cd2121;

                &::before {
                    background-color: #e83939;
                }
            }

            &.sure {
                background-color: #0c7b93;

                &::before {
                    background-color: #00a8cc;
                }
            }

        }
    }
}