---

---

<div class="filter-container d-flex items-center justify-between md-max-gap-x-5">
  <h2 class="fs-r-30 fw-700">المعالم السياحية</h2>
  <div class="filter-input d-flex items-center md-max-gap-x-5">
    <input
      type="text"
      placeholder="ادخل المدينة"
      name=""
      class="pr-5 round-6"
    />
    <input
      type="text"
      placeholder="ادخل اسم المَعلم"
      name=""
      class="pr-5 round-6 md-mr-4"
    />
  </div>
</div>
