---
import Filter from "./Filter.astro"
import Row from "@components/ui/Row.astro"
---
<section class="tourist-view">
    <div class="container">
        <!-- filter -->
        <Filter/>
        <Row isBooking={false}/>
    </div>
</section>