---

import Layout from "../layouts/Layout.astro";

//style
import "../styles/scss/pages/details.scss";
//components
import Breadcrumb from "../components/ui/breadcrumb.astro";

// import { Image } from "astro:assets";
import Details from "../components/details/details2.astro"

---

<Layout title="Gift Genius | تفاصيل الجولات السياحية">
  <main>
    <!-- bread cumb -->
    <Breadcrumb
      linkPage=" تفاصيل الجولات السياحية "
      defPage="الصفحة الرئيسية"
      path="/"
      isCrumb={false}
    />
    <Details/>
  </main>
  <!-- <script src="../scripts/home.ts"></script> -->
</Layout>