---
import Layout from "../layouts/Layout.astro";


import Hero from '@components/home/Hero.astro'
import MostWanted from"@components/home/MostWanted.astro"
import Servies from"@components/home/Servies.astro"
import AboutSection from"@components/home/AboutSetion.astro"
//style
import "../styles/scss/pages/home.scss";

// import { Image } from "astro:assets";
---

<Layout title="Asre | الصفحة الرئيسية ">
  <main >
    <Hero/>
    <AboutSection/>
    <MostWanted/>
    <Servies/>
  </main>
  <script src="../scripts/home.ts"></script>
</Layout>
