---

import MainHeading from "../ui/mainHeading.astro";
// import img from "../../"


import Row from "../ui/Row.astro"
---

<section class="most-wanted">
  <MainHeading title="الاكثر طلبا" />
  <div class="container">
    <Row/>
  </div>
</section>
