---
import { HeaderData } from "@data/data";
import type { LinkType } from "../../types/types";
// import { Icon } from "astro-icon/components";
---

<ul class="d-flex items-center link-list normalMenu">
  {
    HeaderData.map((link: LinkType) => (
      <li class="nav-items pr-12">
        <a class="fw-700 nav-link  relative" href={link.path}>
          {" "}
          {link.title}{" "}
        </a>
      </li>
    ))
  }
 
</ul>
