---
import Button from "../ui/Button.astro";


---
<div class="top-tours d-flex items-center justify-between">
    <h2 class="fs-r-30 fw-700"> عرض الجولات السياحية </h2>
    <Button type="button" aria="open-search-model" ClassName="btn-popup search-btn py-6 px-12 round-6 fs-18 fw-700">
        ابحث  عن  جولاتك 
    </Button>
</div>