---
import Top from "./Top.astro";
import ModelSearch from "./ModelSearch.astro";
import Row from "../ui/Row.astro"
---
<section class="tours">
    <div class="container">
        <Top/>
        <ModelSearch/>
        <Row/>
    </div>
</section>