@use "./helpers/color" as *;
@use "./components/ui/breadcrumb";
@use "./components/ui/Card";
@use "./components/ui/cricleMainHeading";

body {
    background-image:
        linear-gradient(135deg in oklab,
            rgb(98% 98% 98%) 0%, 67%, rgb(71% 47% 30% / 50%) 101% 101%);
    // font-weight: ;
}

html {
    direction: rtl;
}
.breadcrumb{
    .img_Container {
        width: 100%;
        height: 100%;
        // animation: opacity 5s ease-in-out infinite;
        background-image: url('../../assets/images/asre.png');
        background-size: contain;
        background-repeat: repeat;
        opacity: .2;
    }
}

.btn-popup {
    background-color: transparent;
    border: 1px solid $hover-2;
    color: #fff;

    &::before {
        background-color: $hover-2;
        top: 50%;
        left: 50%;
    }
}

.icon-nav-base span {
    background-color: $hover;
}